.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 400px;
  height: 220px;
  position: absolute;
  left: 0; top: 20; right: 0; bottom: 0;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
}
.input {
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 1.1em;
  outline: none;
}
.inputGroup {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 0;
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
