.container {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  position: relative;
  overflow: hidden;
}

.leader {
  background: url("./city.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  color: white;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
}

.title {
  font-size: 1.8em;
  margin-top: 1em;
  color: white;
}

.changeLink {
  cursor: pointer;
  color: white;
  font-size: 1.5em;
}

.display {
  color: white;
  font-size: 3em;
}

.formBox {
  display: flex;
  position: relative;
  align-items: center;
  flex-flow: column nowrap;
}
